/*Link to google fonts*/
    @import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* CSS Variables */
:root{
    --primary-font: "Faculty Glyphic", sans-serif;
    --secondary-font: "Open Sans", sans-serif;
    --primary-color: white;
    --secondary-color: ;
    --highlight-color: yellow;
    --highlight-color-light: ;
}

body{
font-family: var(--primary-font);
background-color: #b0C4DE;
color:var(--primary-color);
}

h1,
h2,
h3{
    font-family: var(--primary-font);
}

p {
    font-family: var(--secondary-font);
}


/* Navbar CS Styling */
.navbar{
    background-color: #20B2AA;
}

